.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-detail {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: center; 
}

.card-img {
    max-width: 100%;
    border-radius: 5px;
}

h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

h3 {
    color: #27ae60;
    margin: 10px 0;
}

p {
    color: #555;
    margin: 8px 0;
    line-height: 1.5;
}

button {
    background-color:  #97d39a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #219150;
}